
.toDo{
    display: flex; padding: 10px 15px; border-bottom: 1px solid #ddd;
}

.toDo:nth-child(even) {
    background-color: #dddbdb; color: #000; 
}

.toDo:last-of-type {
    border-bottom: 0;
}

.toDo .id {
    flex: 1 1 50px;
}

.toDo .content {
    flex: 1 1 100%;
}

.toDo.done .content {
    text-decoration: line-through;
}

.mat-form-field-flex {
    display: block; width: 100%; min-width: 100vw; max-height: 60px; padding: 15px 10px; appearance: none; border: none; 
    margin-top: 5px; margin-bottom: 25px; font-size: 25px; outline: none;
}


.todo-submit {
    display: block; width: 100%; max-width: 200px; appearance: none; border: none; outline: none;
    margin: 15px auto; padding: 10px 15px; font-size: 18px; font-weight: 700;
}